.hallo-area {
  justify-content: center;
  align-content: center;
  background-color: $white;
  width: 100vw;
  min-height: 722px;

  &--content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 16px auto;
    margin-top: 64px;
    margin-bottom: 88px;
    position: relative;

    @media (min-width: $tablet) {
      max-width: 982px;
      margin: 0 auto;
      margin-top: 80px;
      margin-bottom: 176px;
    }
  }

  &--details {
    text-align: center;
    margin: 0 auto;

    @media (min-width: $desktop) {
      position: relative;
      max-width: 830px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 82.94px;
        height: 254.88px;
        top: 0;
      }

      &::before {
        right: 100%;
        background: url(../assets/img/hello/mustache-bracket-left.svg);
      }

      &::after {
        left: 100%;
        content: url(../assets/img/hello/mustache-bracket-right.svg);
      }
    }
  }

  &--photo {
    display: block;
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 34px;
    border: 16px solid #f6f9fd;
    object-fit: cover;

    @media (min-width: $tablet) {
      width: 178px;
      height: 178px;
      margin-bottom: 72px;
      margin-top: 50px;
      border: 24px solid #f6f9fd;
    }
  }

  &--cloud {
    display: none;

    @media (min-width: $desktop) {
      color: $white;
      position: absolute;
      left: 560.5px;
      background-color: $blue;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 16px;
      padding: 16px 19px;
      display: block;

      &::after {
        position: absolute;
        content: "";
        display: block;
        top: 99%;
        left: 32px;
        width: 17.42px;
        height: 22.66px;
        background: url(../assets/img/hello/Speech_cloud_tail.svg);
      }

      @keyframes wave {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(60deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      &-hand {
        display: inline-block;
        animation: wave 2s ease-in-out infinite;
        transform-origin: center center;
      }
    }
  }

  &--contact-me-button {
    margin-top: 48px;

    @media (min-width: $desktop) {
      margin-top: 68px;
    }
  }

  &--title {
    margin-bottom: 16px;
  }
}
