@import "~normalize.css";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/*---- Reset ----*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*---- Rest ----*/

body {
  background: $white;
  color: $textDeafult;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 40px;
  }
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  @media (min-width: $tablet) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  @media (min-width: $tablet) {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
  }

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: $textLink;
  text-decoration: none;
  display: contents;
  font-size: bold;
  white-space: nowrap;
}

b strong {
  font-weight: bold;
}

.section-area {
  justify-content: center;
  align-content: center;
  width: 100vw;

  &--content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 16px auto;
    padding-top: 64px;
    padding-bottom: 88px;

    @media (min-width: $desktop) {
      max-width: 1184px;
      margin: 0 auto;
      padding-top: 80px;
      padding-bottom: 176px;
    }
  }

  &--contact-me-button:link,
  &--contact-me-button:visited,
  &--contact-me-button:focus,
  &--contact-me-button:hover,
  &--contact-me-button:active {
    display: flex;
    flex: none;
    background: $textLink;
    border-radius: 64px;
    color: $white;
    max-width: 278px;

    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    text-emphasis: center;
    align-self: center;
    padding: 4px 24px;
  }

  &--about {
    margin-bottom: 22px;

    @media (min-width: $tablet) {
      max-width: 782px;
      margin: 0 auto;
      margin-bottom: 128px;
    }

    &-text {
      margin-top: 40px;
      margin-block-end: 0;
    }
  }
}

@import "modules/hello.scss";
@import "modules/skills.scss";
@import "modules/github.scss";
@import "modules/contact.scss";
